# Eat Safe, Love

## Notebook Set Up

In [7]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint
import pandas as pd

In [8]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [10]:
# assign the uk_food database to a variable name
uk_food_db = mongo['uk_food']

In [11]:
# review the collections in our database
print(uk_food_db.list_collection_names())

['establishments']

In [13]:
# assign the collection to a variable
uk_food_establishments = uk_food_db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [28]:
# Find the establishments with a hygiene score of 20
query ={'scores.Hygiene': {'$eq':20}}
hygiene20_results = uk_food_establishments.find (query)
# Use count_documents to display the number of documents in the result
count_results = uk_food_establishments.count_documents (query)
print(f'number of establishments with a hygiene score of 20: {count_results}')
# Display the first document in the results using pprint
print()
print("e.g of establishments with a hygiene score of 20:")
print()
pprint(hygiene20_results[0])

number of establishments with a hygiene score of 20: 0

e.g of establishments with a hygiene score of 20:

IndexError: no such item for Cursor instance

In [27]:
print(count_results)

0

In [29]:
# Convert the result to a Pandas DataFrame
hygiene20_results_df =pd.DataFrame(hygiene20_results)

# Display the number of rows in the DataFrame
print(f'Number of rows in hygiene20_results_df: {len(hygiene20_results_df)}')

# Display the first 10 rows of the DataFrame
hygiene20_results_df.head(10)

Number of rows in hygiene20_results_df: 0

Empty DataFrame
Columns: []
Index: []

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [30]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
london_query ={'LocalAuthorityName': {'$regex': "London"},
         'RatingValue': {'$gte': '4'}}


# Use count_documents to display the number of documents in the result
count_results = uk_food_establishments.count_documents(london_query)
print(f'establishments with London as the Local Authority and has a RatingValue greater than or equal to 4: {count_results}')
print()
# Display the first document in the results using pprint
london_results = uk_food_establishments.find(london_query)
pprint(london_results[0])

establishments with London as the Local Authority and has a RatingValue greater than or equal to 4: 0

IndexError: no such item for Cursor instance

In [36]:
london_results_df =pd.DataFrame(london_results)

In [38]:
# Convert the result to a Pandas DataFrame
london_results_df =pd.DataFrame(london_results)

# Display the number of rows in the DataFrame
print(f'Number of rows in london_results_df: {len(London_results_df)}')

# Display the first 10 rows of the DataFrame
london_results_df.head(10)

NameError: name 'London_results_df' is not defined

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [ ]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score

degree_search = 0.01
latitude = 
longitude = 

query = {'RatingValue': {'$eq': '5'}}
sort = [('scores.Hygiene', -1)]
limit = 5
# Print the results
pprint(list(uk_food_establishments.find(query).sort(sort).limit(limit)))

In [ ]:
# Convert result to Pandas DataFrame

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [39]:
# Create a pipeline that: 
# 1. Matches establishments with a hygiene score of 0
# 2. Groups the matches by Local Authority
# 3. Sorts the matches from highest to lowest

# Print the number of documents in the result

# Print the first 10 results
group_query = {'$group': {'_id':'$LocalAuthorityName', 'count':{'$sum': 1 }}}
match_query = {'$match': {'scores.Hygiene': {'$eq':0}}}
sort_values = {'$sort': {'count':-1}}

pipeline = [match_query, group_query, sort_values]
results = list(uk_food_establishments.aggregate(pipeline))
print("Rows in DataFrame: ", len(result_df))
print()
# Print the first 10 results
pprint(results[0:10])

NameError: name 'result_df' is not defined

In [40]:
# Convert the result to a Pandas DataFrame
result_df = pd.DataFrame(results)
# Display the number of rows in the DataFrame
print("Rows in DataFrame: ", len(result_df))
# Display the first 10 rows of the DataFrame
result_df.head(10)

Rows in DataFrame:  0

Empty DataFrame
Columns: []
Index: []